::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--black);
}
:root {
  --white: #ffffff;
  --black: #000000;
}
::selection {
  background-color: var(--black);
  color: var(--white);
}
*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 0px;
  margin: 0 auto;
}
.form__main-form {
  width: 420.84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.form__form-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.form__input {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.form__button {
  background-color: inherit;
  border: 2px solid teal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  border-radius: 10px;
  color: teal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: teal;
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: var(--white);
    &:before {
      width: 100%;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
.form__incorrect-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: red;
}
li {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: black;
}
